[Unit]
Description=ly ncurses display manager
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty2.service

[Service]
Type=simple
ExecStart=/usr/bin/ly
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
Restart=always
EnvironmentFile=-/etc/default/locale

[Install]
Alias=display-manager.service
